<h1>Add a review</h1>

<form action="<?php echo $block->getFormAction() ?>" method="post">
    <input name="nickname" type="text">
    <input name="title" type="text">
    <textarea name="detail" rows="4" cols="50"></textarea>
    
    <input type="submit" value="Add Review">
</form>
